body {
    background-color: lightgrey;
    margin: 0px;
}

header {
    background-color: black;
    padding: 1px;
    height: auto;
    font-size: 20pt;
}
.divheader
{
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    min-width: 942px;
    max-width: 1700px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
ul,li
{
    list-style: none;
    display: flex;
    color: #e3e3e3;
    padding: 0.5rem 1rem;
}
ul
{
    margin: 10 0 5 0;
}
li
{
    border: 10px;
    border-radius: 10px;
    
}

li:hover
{
    background-color: rgb(58, 76, 92);
}
.headbutton
{
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 4px;
    margin-left: 50px;
    align-items: center;
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
    text-decoration-style: solid;
    padding: 0.375rem 0.75rem;
}
.tableclass
{
    margin-top: 50px;
    width: 40%;
}
input, select
{
    margin-left: 10px;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
}
input[type=text]:focus,textarea:focus
{
    background-color: rgba(53, 53, 53, 0.226);
}
table
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td
{
    font-size: 12pt;
    font-weight: bold;
    color: rgb(59, 59, 59);
    padding: 5px;
}
td.labels
{
    width: 30%;
    text-align: right;
}

input.savebutton
{
    background-color: rgba(71, 71, 80, 0.692);
    width: 214px;
    height: 39px;
    margin-left: -80px;
    border-radius: 5px;
    color: #e3e3e3;
    font-weight: bold;
    font-size: medium;
}
input.savebutton:hover
{
    background-color: rgba(47, 47, 65, 0.527);
}